---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import SplitPanel from '@components/sections/SplitPanel.astro';
import Features from '@components/sections/Features.astro';
import Stats from '@components/sections/Stats.astro';
import { featureLists } from '@data/features';
import { statsLists } from '@data/stats';
import CtaBanner from '@components/sections/CtaBanner.astro';
import Faqs from '@components/sections/Faqs.astro';
import { faqLists } from '@data/faqs';
import RecentPosts from '@components/sections/RecentPosts.astro';
import heroImage from '../assets/images/home/container01.jpg';

const seoTitle = "Fitness, Fellowship, Faith";
const seoDescription = "F3 is a national network of free, peer-led workouts for men. We plant, grow and serve these groups to invigorate male community leadership.";

const heroContent = {
    title: 'F3 KANKAKEE',
    subtitle: 'Fitness • Fellowship • Faith',
    buttons: [
        {
            text: 'Get Started',
            link: '/contact',
            target: '_self'
        },
    ],
    backgroundImage: heroImage,
    overlayOpacity: 0.2,
}

const featuresSection = {
    eyebrow: "CORE PRINCIPLES",
    title: "F3 was founded on 5 core principles",
    description: "",
    features: featureLists.main.features,
}

const FooterCta = {
    eyebrow: "Join The Community",
    title: 'Ready to start?',
    description: 'Join the F3 community and connect with fellow men.',
    hideCta: false,
    button: {
        text: 'Get Started',
        link: '/contact',
        target: '_self'
    }
}

const sideBySideStats = {
    eyebrow: "Stats",
    title: "Built for Speed and Flexibility",
    description: "Titan Core is designed with performance and developer experience in mind. Our lightweight theme gives you all the essentials without the bloat, letting you build exactly what you need with impressive speed.",
    variant: 'side-by-side' as const,
    stats: statsLists.withContent.stats,
    content: {
        title: "Built for Speed and Flexibility",
        description: "Titan Core is designed with performance and developer experience in mind. Our lightweight theme gives you all the essentials without the bloat, letting you build exactly what you need with impressive speed.",
        button: {
            text: "Discover Titan Core",
            link: "/theme-info",
            variant: "primary" as const
        }
    }
};

const mainCta = {
    eyebrow: "Build Blocks",
    title: "Ready-to-Use Components",
    description: "Save development time with our pre-built, accessible components. Each one is designed to integrate seamlessly with your projects while maintaining excellent performance.",
    button: {
        text: "View All Components",
        link: "/components",
        variant: "primary" as const,
        target: "_self" as const
    }
};

const faqsSection = {
    eyebrow: "FAQs",
    title: 'Frequently Asked Questions',
    description: 'Find answers to common questions about our platform and services.',
    faqs: faqLists.main.faqs
}

const locationsSection = {
    eyebrow: "Locations",
    title: "Find a Workout",
    description: "All you gotta do is SHOW UP",
    button: {
        text: "View all locations",
        link: "/ao",
        variant: "primary" as const
    }
}
---

<Layout footerCta={FooterCta} title={seoTitle} description={seoDescription}>
    <Hero content={heroContent}>
        <p slot="description" class="text-white mt-2 text-balance text-shadow-lg/50" data-aos="fade-up" data-aos-delay="100">
            F3 is a national network of free, peer-led workouts for men.<br />
            We plant, grow and serve these groups to invigorate male community leadership.
        </p>
    </Hero>
    <RecentPosts content={locationsSection} background="base" padding="base" postsToShow={3} category="Theme Usage"/>
    <Features content={featuresSection} padding="base" background="light" />
    <!-- <Stats content={sideBySideStats} background='base' padding="base"/> -->
{/*
    <SplitPanel content={styleGuideSection} imagePosition="right" background="dark" padding="base" />
    <CtaBanner content={mainCta} variant="contained" background="light" paddingBottom="base" />
    <Faqs content={faqsSection} background="base" padding="base" />
*/}
</Layout>
