---
import Location from './Location.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
    locations: CollectionEntry<'ao'>[];
    currentCategory?: string;
}

const {
    locations,
    currentCategory
} = Astro.props;

---
<section class="site-container mx-auto px-4 py-base">
    <div
        class="mb-16 text-center"
        data-aos="fade-in"
        data-aos-delay="100"
    >
        <h2 class="text-3xl text-body-base mb-4">Our Areas of Operation</h2>
        <p class="mt-4 text-body-base opacity-90">See our locations below for more information</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {
            locations?.map((ao, index) => (
                <div>
                    <Location
                        title={ao.data.title}
                        featuredImage={ao.data.featuredImage || ''}
                        categories={ao.data.categories || []}
                        address={ao.data.address}
                        addressDescription={ao.data.addressDescription}
                        slug={ao.id}
                        index={index}
                    />
                </div>
            ))
        }
    </div>

    {locations.length === 0 && <p class="text-center text-gray-500 py-8">No locations found in this category.</p>}
</section>
