---
import { footerMenu, legalMenu, locationMenu, socialMenu } from '@data/menu';
import Logo from '@components/Logo.astro';
import Button from '@components/ui/Button.astro';
import { siteConfig } from '@data/config';
import FooterSubmenu from './menu/FooterSubmenu.astro';

interface ButtonProps {
  text: string;
  link: string;
  target?: string;
}

interface Props {
  footerCta?: {
    title: string;
    description: string;
    hideCta: boolean;
    button: ButtonProps;
  };
}

const { footerCta } = Astro.props;

const defaultCta = {
  title: "Ready to get started?",
  description: false,
  hideCta: false,
  button: {
    text: "Join Us",
    link: "/contact",
    target: "_self"
  }
};

const cta = footerCta || defaultCta;
const currentYear = new Date().getFullYear();
---

<footer class={`bg-black text-white pb-small ${cta.hideCta ? 'pt-large' : ''}`}>
  <div class="site-container mx-auto px-4">
    {!cta.hideCta && (
      <div class="text-center border-b border-background-light mb-12 py-small">
        <h2 class="text-3xl mb-4" data-aos="fade-up">{cta.title}</h2>
        <p class="text-white mb-6 max-w-2xl mx-auto" data-aos="fade-up" data-aos-delay="100">
          {cta.description}
        </p>
        <Button
          href={cta.button.link}
          variant="ghostLight"
          size="lg"
          data-aos="fade-up"
          data-aos-delay="200"
          {...(cta.button.target && { target: cta.button.target })}
        >
          {cta.button.text}
        </Button>
      </div>
    )}

    <div class="grid grid-cols-1 md:grid-cols-4 gap-8 pb-8 border-b border-background-light">
      <div class="col-span-2">
        <Logo variant="footer" />
        <p class="mt-4 text-white">
          Leave no man behind, but leave no man where you find him.
        </p>
      </div>
      <div class="col-span-2 flex flex-row justify-between">
        <FooterSubmenu title="Quick Links" items={footerMenu} />
        <FooterSubmenu title="Locations" items={locationMenu} />
        <FooterSubmenu title="Social Media" items={socialMenu} />
      </div>
    </div>

    <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
      <div class="text-body-dark text-sm">
        © {currentYear} {siteConfig.companyName}. All rights reserved.
      </div>

    </div>
  </div>
</footer>
