---
import Button from '@components/ui/Button.astro';
import Input from '@components/ui/form/Input.astro';
import Textarea from '@components/ui/form/Textarea.astro';
import Select from '@components/ui/form/Select.astro';


const locationOptions = [
    { label: 'Legion', value: 'Legion' },
    { label: 'Rivendell', value: 'Rivendell' },
    { label: 'Scarif', value: 'Scarif' },
];

const formBackground = 'base';

        // action="https://formkeep.com/f/08b4ff56b5b2"
---
<div class="space-y-6 bg-white p-6 rounded-lg">
    <form
        id="contact-form"
        action="/api/contact"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
        method="POST"
    >
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="subscribe_08b4ff56b5b2_49133" />

        <Input label="Name" id="name" name="name" required background={formBackground} defaultValue="Fakey McFakerson" />
        <Input label="Email" type="email" id="email" name="email" required background={formBackground} defaultValue='test@test.com' />
        <Input label="Phone number" id="phone" name="phone" required background={formBackground} defaultValue='123-456-7890' />

        <Select
            label="Which location are you interested in?"
            id="location"
            name="location"
            defaultValue='Legion'
            options={locationOptions}
            background={formBackground} />

        <Textarea
            label="Message"
            id="message"
            name="message"
            defaultValue="Hello there! I'm interested in joining your workout cult."
            required
            background={formBackground} />

        <Button type="submit">Submit</Button>
    </form>
</div>

<script>

const contactForm = document.getElementById('contact-form');

contactForm?.addEventListener('submit', async (ev) => {
    ev.preventDefault();

    // Get form data and convert to json.
    const formData = new FormData(ev.target)
    const data = {};
    formData.forEach((value, key) => (data[key] = value))

    // Send request to formkeep.
    const response = await fetch(ev.target.action, {
        method: "POST",
        body: formData
    })

    // Show thank you message, hide form.
    if (response.status == 200) {
        const parent = ev.target.parentElement;
        const message = document.createElement('div');
        message.classList.add("mt-8", "text-center");
        message.dataset.aos = 'fade-up';
        message.innerHTML = `
            <h2 class="mb-4 text-lg font-bold">Thanks for reaching out!</h2>
            <p>Hope to see you in the gloom.</p>
            `;
        parent.appendChild(message)
        
        ev.target.style.display = 'none';
    }
});
</script>
